* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f4;
}

header img {
  width: 30%;
  margin: 0 auto 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


 .size1 {
  width: 15%;
  position: fixed;
}

.size2 {
  width: 10%;
  position: fixed;
}

.container {
  height: 70vh;
  width: 100%;
}

button {
   display: block;
   margin: 5px auto 0;
   height: 3px;
   padding: 2px;
}

.hidden {
  display: none;
}

video {
  z-index: 1;
  display: block;
  margin: 0 auto;;
}

.width1 {
  width: 500px;
}

.width2 {
  width: 300px;
}
