* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/Background.JPG);
  background-size: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header img {
  width: 40%;
}

p {
  color: #d8417d;
  font-size: 2vw;
  font-family: monospace;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
   color: #06603d;
   padding: 10px 0;;
   cursor: pointer;
   font-size: 2vw;
}

.container img {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.container {
  height: 70vh;
  width: 100%;
}

 .size1 {
  width: 15%;
}

.size2 {
  width: 10%;
}

.hidden {
  display: none;
}

video {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video-container {
  z-index: 10;
}

.width1 {
  width: 500px;
}

.width2 {
  width: 300px;
}

.width3 {
  width: 800px;
}
